/* Archivo: styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  background-image: url(../imagenes/istockphoto-584574568-612x612\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 20px;
}

.tabla-container, .formulario-container {
  max-width: 1000px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #333;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #ae00ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6200ff;
}
